body {
  min-height: 100%;
  min-width: 1090px;
  background-color: #fff;
  overflow: auto;
  width: auto;
  margin-right: 0px; }

header {
  height: 240px; }

section {
  width: 100%; }
  section a {
    color: #333; }
    section a:hover {
      color: #b4a078; }
  section .sec-center {
    width: 1090px;
    margin: 0 auto; }

.sowing-map-top {
  width: 100%;
  height: 420px;
  overflow: hidden;
  position: relative; }
  .sowing-map-top .sowing-con {
    display: block;
    width: 100%;
    height: 100%;
    position: relative; }
    .sowing-map-top .sowing-con ul {
      position: absolute;
      width: 800%;
      height: 100%; }
      .sowing-map-top .sowing-con ul li {
        float: left; }
        .sowing-map-top .sowing-con ul li img {
          display: block;
          width: 100%;
          height: 100%; }
  .sowing-map-top button {
    display: block;
    width: 50px;
    height: 50px;
    background: #D0C4AF;
    position: absolute;
    top: 200px !important;
    border: none;
    border-radius: 50%;
    font-size: 30px;
    color: #fff; }
    .sowing-map-top button.to-left {
      float: left;
      left: 186.5px; }
    .sowing-map-top button.to-right {
      float: right;
      right: 186.5px; }
    .sowing-map-top button:hover {
      background: #B19E7A; }
  .sowing-map-top .sowing-index {
    margin-left: 50%;
    height: 28px;
    position: absolute;
    left: -96px;
    z-index: 10;
    bottom: 4px; }
    .sowing-map-top .sowing-index li {
      display: block;
      width: 12px;
      height: 12px;
      margin: 0 8px 10px;
      float: left;
      text-align: center;
      line-height: 10px; }
      .sowing-map-top .sowing-index li a {
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 1px solid #ccc;
        border-radius: 50%;
        background: #fff; }
      .sowing-map-top .sowing-index li:hover {
        border: none;
        background: #dfcead;
        box-shadow: 0 0 0 4px #dfcead;
        border-radius: 50%; }
        .sowing-map-top .sowing-index li:hover a {
          background: #a7936e;
          border: none;
          border-radius: 50%; }

#example {
  width: 100%; }
  #example h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1; }
  #example .example:nth-child(2n) {
    background: #f4f0ea; }
  #example .example.e-1 {
    margin-top: 30px; }
    #example .example.e-1 .e-head {
      padding-bottom: 20px; }
      #example .example.e-1 .e-head .e-head-l {
        float: left;
        width: 356px; }
        #example .example.e-1 .e-head .e-head-l a {
          display: block; }
          #example .example.e-1 .e-head .e-head-l a h2 {
            float: left;
            margin-right: 20px; }
        #example .example.e-1 .e-head .e-head-l span {
          font-size: 14px;
          padding-top: 13px;
          float: left;
          line-height: 1; }
      #example .example.e-1 .e-head .e-head-r {
        float: right;
        line-height: 1;
        margin-left: 30px;
        padding-top: 14px;
        cursor: pointer;
        font-size: 14px; }
    #example .example.e-1 .e-img .e-img-1, #example .example.e-1 .e-img .e-img-2, #example .example.e-1 .e-img .e-img-3 {
      float: left;
      width: 357px;
      height: 320px;
      position: relative;
      overflow: hidden; }
      #example .example.e-1 .e-img .e-img-1 .name, #example .example.e-1 .e-img .e-img-1 .price, #example .example.e-1 .e-img .e-img-2 .name, #example .example.e-1 .e-img .e-img-2 .price, #example .example.e-1 .e-img .e-img-3 .name, #example .example.e-1 .e-img .e-img-3 .price {
        position: absolute; }
      #example .example.e-1 .e-img .e-img-1 .name, #example .example.e-1 .e-img .e-img-2 .name, #example .example.e-1 .e-img .e-img-3 .name {
        width: 100%;
        text-align: center;
        margin: 48px 0 19px; }
      #example .example.e-1 .e-img .e-img-1 .price, #example .example.e-1 .e-img .e-img-2 .price, #example .example.e-1 .e-img .e-img-3 .price {
        display: block;
        border-top: solid 1px #666;
        padding-top: 17px; }
    #example .example.e-1 .e-img .e-img-2 {
      margin: 0 9px; }
