body{min-height: 100%;
    min-width: 1090px;
    background-color: #fff;
    overflow: auto; 
    width: auto; 
    margin-right: 0px;
    }
    header{
    	height:240px
    }
    
    section{
        width: 100%;
        a{
            color: #333;
            &:hover{
                color:#b4a078;
            }
        }
        button{
            display: block;                   
            width: 50px;
            height:50px;
            background: #D0C4AF;
            position: absolute;
            
            top: 200px!important;
            border: none;
            border-radius: 50%;
            font-size: 30px;
            color:#fff;
            &.to-left{float: left;left: 186.5px;};
            &.to-right{float: right;right: 186.5px;};
            &:hover{background: #B19E7A;}
        }
        .sec-center{
            width: 1090px;
            margin: 0 auto;
        }
        
    }
    .sowing-map-top{
    	width: 100%;
    	height: 420px;
        overflow: hidden;
        position: relative;
		.sowing-con{
            display: block;
            width: 100%;
            height: 100%;
            position: relative;           
            ul{
                position: absolute;
                width:800%;
                height:100% ;
                li{                    
                    float: left;
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                } 
            }
			
		
		}
        
        .sowing-index{
            margin-left:50%;
            height: 28px;
            position: absolute;
            left: -96px;
            z-index: 10; 
            bottom:4px ;
            
                li{
                    display:block;
                    width: 12px;  
                    height: 12px;            
                    margin: 0 8px 10px;
                    float: left;                     
                    text-align: center;
                    line-height: 10px;             
                    a{
                        display:inline-block;
                        width: 8px;
                        height: 8px;
                        border: 1px solid #ccc;
                        border-radius: 50%;  
                        background: #fff;
                    };
                    &:hover{                                      
                        border: none;
                        background: #dfcead;
                        box-shadow:0 0 0 4px #dfcead;
                        border-radius: 50%;
                        & a{
                            background: #a7936e;
                            border: none;
                            border-radius: 50%;
    
                        };
                    };   
                }
                                        
            }
                
            
        }
    #example{
        width: 100%;
        h2{
            font-size: 28px;
            font-weight: 700;
            line-height: 1;
            
        }
        .example{
            
            &:nth-child(2n){
                background: #f4f0ea;
            }
            &.e-1{
                margin-top: 30px;
                .e-head{
                   padding-bottom: 20px;
                    .e-head-l{
                        float: left;
                        width: 356px;
                        a{
                            display: block;
                            h2{
                                float: left;
                                margin-right: 20px;
                            }  
                        }
                        
                        span{
                            font-size: 14px;
                            padding-top: 13px;
                            float: left;
                            line-height: 1;
                        }  
                    }
                    .e-head-r{
                        float: right;
                        line-height: 1;
                        margin-left: 30px;
                        padding-top: 14px;
                        cursor: pointer;
                        font-size: 14px;
                    }
                }
                .e-img{
                    .e-img-1,.e-img-2,.e-img-3{
                        float: left;  
                        width: 357px;
                        height: 320px; 
                        position: relative;
                        overflow: hidden;
                        text-align: center;
                        .name,.price{
                            position: absolute;
                            

                        } 
                        .name{
                            z-index: 3;
                            width: 100%;
                            text-align: center;
                            margin: 48px 0 19px;
                            font-size: 24px;
                            .newShelfTag{
                                position: absolute;
                                top: -3px;
                                font-size: 11px;
                                margin-left: 2px;
                                text-align: center;
                                line-height: 19px;
                                width: 32px;
                                height: 21px;
                                border-radius: 10px;
                                color: #fff;
                                background: #B19E7A;
                            }
                        }
                        .price{ 
                            display: inline-block;                       
                            width: auto;
                            border-top: solid 1px #666;
                            padding-top: 17px ; 
                            top:91px;
                            left: 154.6px;
                        }   

                    }
                    .e-img-2{
                        margin: 0 9px;
                    }                      
                
                    .e-img-3{
                        a{
                            display: block;
                            position: relative;
                            &:last-child{margin-top: 9px;}
                        }
                        
                        .name{
                            font-size: 20px;
                            margin: 32px 0 10px 20px;
                            text-align: left;
                        }
                        .price{
                            left:20px;
                            top: 62px;
                        }

                    }
                }
                .new-products{
                    height: 510px;
                    padding-top: 60px;
                    position: relative;
                    .to-left{
                        left: -60px;
                    }
                    .to-right{
                      right: -60px;  
                    }
                    .n-img{
                        width: 1090px;                                                
                        // overflow: hidden;
                        .n-imgs{
                            width: 8800px;
                            ul{
                                width: 100%;
                                li{
                                    width: 265px;
                                    height: 344px;
                                    float: left;
                                    margin-right: 10px;
                                    position: relative;
                                    .pro-img{
                                        margin-bottom: 8px;
                                        a{
                                            display: block;
                                            position: relative;
                                            img{
                                                // position: absolute;
                                                &.show{display: block;}
                                                &.active{display:none;}
                                            }
                                        }
                                        
                                    }
                                    .pro-message{
                                        .preferential{                                            
                                            width: auto;
                                            height: 20px;
                                            line-height: 20px;
                                            text-align: center;                                           
                                            color: #fff;                                           
                                            padding: 0 5px; 
                                            margin-bottom: 3px;
                                            span{
                                                background:#e36844;
                                                font-size: 14px;
                                            }
                                        }
                                        a{
                                            display: block;
                                            width: 100%;
                                            margin-bottom: 4px;
                                            height: 20px;
                                            line-height: 20px;
                                            text-align: center;
                                            font-size: 14px;
                                            font-weight: bold;
                                        }
                                        .pro-price{
                                            text-align: center;
                                            .now-price{
                                                font-size: 13px;
                                                color: #d4282d;
                                            }
                                            .pre-price{
                                                font-size: 12px;
                                                color:#999;
                                                text-decoration: line-through;
                                                margin-left: 6px;
                                            }
                                        }
                                    
                                        
                                    }
                                   
                                    
                                    &:hover{
                                        background: #f4f0ea;
                                        img.show{display: none;}
                                        img.active{display: block;}
                                    }
                                }
                            }
                        }
                    }
                }
            }
                    

        }

    }
   
        

    